.ingredients {
    display: flex;
    flex-direction: column; /* Každá ingrediencia na novom riadku */
    gap: 5px; /* Medzera medzi ingredienciami */
  }
  
  .ingredients span {
    display: block;
  }

  .ingredients-list {
    list-style-type: number;
    padding-left: 20px;
  }
  
  .procedure-list {
    list-style-type: decimal;
    padding-left: 20px;
  }
  
  