<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>

  <span>Pečie celé KASV</span>
  
  <!-- Tlačidlo Home -->
  <a routerLink="/recipe-landing" mat-button>Home</a> <!-- Link vedúci na recipe-landing -->

  <ng-container *ngIf="isLoggedIn">
    <a mat-button (click)="openAddRecipeDialog()">
      <mat-icon>add</mat-icon>Add Recipe
    </a>
  </ng-container>

  <span class="spacer"></span>

  <ng-container *ngIf="!isLoggedIn">
    <a routerLink="/register" mat-button>
      <mat-icon>register</mat-icon>Register
    </a>
  </ng-container>
  
  <ng-container *ngIf="!isLoggedIn; else logoutBtn">
    <a routerLink="/login" mat-button>
      <mat-icon>login</mat-icon>Login
    </a>
  </ng-container>

  <ng-template #logoutBtn>
    <button mat-button (click)="logout()">Logout</button>
  </ng-template>
</mat-toolbar>
