<mat-toolbar>


  <a routerLink="/" mat-button class="home-button">Home <mat-icon>home</mat-icon></a>
  <ng-container *ngIf="isLoggedIn">
    <a mat-button class="add-recipe-button" (click)="openAddRecipeDialog()">
      <mat-icon>add</mat-icon>
      Add Recipe
    </a>
  </ng-container>

  <span class="title">Pečie celé KASV</span>
  <span class="spacer"></span>

  <ng-container *ngIf="!isLoggedIn">
    <a routerLink="/register" mat-button class="register-button">
      <mat-icon>app_registration</mat-icon>
      Register
    </a>
    <a routerLink="/login" mat-button class="login-button">
      <mat-icon>login</mat-icon>
      Login
    </a>
  </ng-container>

  <ng-container *ngIf="isLoggedIn">
    <button mat-button class="logout-button" (click)="logout()">
      <mat-icon>logout</mat-icon>
      Logout
    </button>
  </ng-container>
</mat-toolbar>
