html, body { height: 100%; }
body {
  background-image: url('/assets/pcs-3-background-2.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
